@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./images/bg-intro-desktop.png) no-repeat var(--Red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2.8rem;
    font-weight: 700;
}

p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    width: 90%;
}

.info{
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    background-color: var(--Blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 0 rgb(0, 0, 0, 0.1);
}


.info span{
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
}

.info span b{
    font-weight: 600;
}

form{
    background-color: white;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 0 rgb(0, 0, 0, 0.1);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: url(./images/icon-error.svg);
}

.form-control.is-invalid:focus, 
.was-validated .form-control:invalid:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.custom-input{
    padding: 12px;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 10px;
    border: 1px var(--Grayish-Blue) solid;
    color: var(--Dark-Blue);
    outline: none;
}

.custom-input:focus{
    border-color: var(--Dark-Blue);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.input-group {
    margin-bottom: 1rem;
}

.invalid-feedback {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 3px;
    color: var(--Red);
    font-style: italic;
}

input::placeholder{
    color: var(--Grayish-Blue) !important;
}

.btn1{
    background-color: var(--Green);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    box-shadow: 0px 3px 2px 0px hsl(154, 49%, 45%);
}

.btn1:hover{
    background-color: #77E2B3;
    color:hsla(0, 0%, 100%, 1);
}

.terms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms span{
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.terms b{
    color: var(--Red);
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 375px) and (max-width: 767px) {
    body{
        padding: 5rem 0;
    }
    h1{
        text-align: center;
        font-size: 1.7rem;
        line-height: 1.9rem;
        max-width: 22rem;
        margin: 0 auto;
    }
    p{
        text-align: center;
        margin: 0 auto;
    }

    .info{
        position: static;
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 98%;
        height: 70px;
    }

    .info span{
        width: 60%;
        text-align: center;
    }

    form{
        padding: 1.25rem;
        width: 97%;
    }

    footer{
        position: absolute;
        top: 920px;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{
        padding: 5rem 0;
    }
    h1{
        text-align: center;
        margin: 0 auto;
    }
    p{
        margin-bottom: 6rem;
        margin-left: 40px;
        text-align: center;
    }
    .info{
        top: 330px;
        width: 78%;
    }

    form{
        width: 78%;
        margin-bottom: 5rem;
    }

    footer{
        position: absolute;
        top: 920px;
        bottom: 0;
        width: 100%;
    }
}